.bodyKey {
  background: #333;
  width: 100vw;
  height: 100vh;
}

.box {
  background: white;
  width:200px;
  height: 200px;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;  //can be set to: infinite
  animation-iteration-count: 1;
  // animation-delay: 2s;
  // animation-direction: reverse;   //can be set to: alternate
  animation-timing-function: ease-in;  //linear makes speed constant, ease-in starts animation slow/ends faster, ease-out starts animation fast/ends slow.
  animation-fill-mode: forwards;  //animation will keep its changes at end, ie stay circle
}

@keyframes myanimation {
  0% { background-color: white; left:0px; top:0px; border-radius: 0 0 0 0;}
  25% { background-color: red; left:300px; top:0px; border-radius: 50% 0 0 0;}
  50% { background-color: green; left:300px; top:300px; border-radius: 50% 50% 0 0;}
  75% { background-color: blue ; left:0px; top:300px; border-radius: 50% 50% 50% 0;}
  100% { background-color: white; left:0px; top:0px; border-radius: 50% 50% 50% 50%;}
}