@import url('https://fonts.googleapis.com/css?family=Oswald:300,500');
@import '../global.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 80%;
  box-shadow: 0 0 25px 0 rgba(0,0,0, .35);
}

.card::before, .card::after {
  content: '';
  position: absolute;
  border: 1px solid white;
}

.card::before {
  top: 1em;
  bottom: 1em;
  right: 1rem;
}

.card::after {
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card:hover {
  //  box-shadow: 0 0 10px 0 black;
   cursor: pointer;
}

.card__body {
  background: rgba(0,0,0,.5);
  color: white;
  padding: 3rem;
}

.card__title .card__text {
  margin: 0;
}

.card__title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: .5em;
  position: relative;
  z-index: 1;
  color: black;
}

.card__title::before {
  content: '';
  position: absolute;
  background: $main-yellow-color;
  height: calc(100% + .1em);
  width: calc(100% + 4rem);
  top: -.1em;
  bottom: -.1em;
  left: -4rem;
  z-index: -1;
  // box-shadow: 0 0 10px 0 black;
  box-shadow: inset -15px 0 10px -10px rgba(0,0,0,.5);
}
.card__title::after {
  content: '';
  position: absolute;
  background: $main-yellow-color;
  height: calc(100% + .1em);
  width: 2rem;
  top: -.1em;
  bottom: -.15em;
  left: calc(100% + 3rem);
  right: -5rem;
  z-index: -1;
  // box-shadow: 0 0 10px 0 black;
  box-shadow: inset 12px 0 10px -10px rgba(0,0,0,.5);
}

.card__text {
  text-align: right;
}


.yt {
  color: black;
}

.purchase {
    color: inherit;
    text-decoration: none;
    position: relative;
    
    &::before {
      content: '';
      height: 7px;
      left: 0;
      right: 0;
      position: absolute;
      top: 110%;
    }
    
    &::before {
      background: $main-yellow-color;
    }
    
    &:hover::before {
      background: black;
    }
    
  }