.gridContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.gridContainer:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fafafa;
    opacity: .4;
}

.buttonSpacer {
  margin-top: 10px !important;
}

.inputSpacer {
  margin-top: 15px !important;
}

.account {
  margin-top: 15px;
  font-size: 10px;
  color: grey;
}

.errorMessage {
  font-size: 10px;
  color:red;
}

