$main-color: #2B2C28;
$main-text-color: black;
$main-yellow-color: yellow;
$main-background-color: #FFFBFC;
$main-green: #339989;
$light-green: #7DE2D1;

// transition {
// opacity: .1s ease;
// color: .1s ease;
// font-size: .5s ease;
// width: .5s ease;
// }


